@model IEnumerable<Alumno>


@*<div class="row justify-content-center justify-content-lg-start mt-3 gap-3">
	<div class="col">
		<h4>Alumno</h4>
	</div>
	<div class="col">
		<h4>Apellido</h4>
	</div>
	<div class="col">
		<h4>Numero de Cuenta</h4>
	</div>
	<div class="col">
		<h4>Presente</h4>
	</div>
	<div class="col">
		<h4>Inasistente</h4>
	</div>
	@foreach (var alumno in Model)
	{
		<div class="card">
			<div class="card-body">
				<h5 class="card-title">@alumno.Nombre</h5>
				<h5 class="card-title">@alumno.Apellido</h5>
				<h5 class="card-title">@alumno.NumeroDeCuenta</h5>
				<h5 class="card-title">@alumno.Presente</h5>
			</div>
		</div>
	}
</div>*@

@if (Model.Count() != 0)
{
	<div class="row justify-content-center justify-content-lg-start mt-3 gap-3">
		<h3>Lista de Asistencia</h3>
		<div class="col">
			<h4>Alumno</h4>
		</div>
		<div class="col">
			<h4>Apellido</h4>
		</div>
		<div class="col">
			<h4>Numero de Cuenta</h4>
		</div>
		<div class="col">
			<h4>Presente</h4>
		</div>
		<div class="col">
			<h4>Inasistente</h4>
		</div>
		@foreach (var alumno in Model)
		{
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">@alumno.Nombre</h5>
					<h5 class="card-title">@alumno.Apellido</h5>
					<h5 class="card-title">@alumno.NumeroDeCuenta</h5>
					<h5 class="card-title">@alumno.Presente</h5>
				</div>
			</div>
		}
	</div>
}
else
{
	<p>No hay alumnos para mostrar</p>
}
