@model ObtenerSalariosViewModel

@{
	ViewData["Title"] = "Rango de Salarios";

	string FormatearNumero(int rango)
	{
		return Math.Abs(rango).ToString("N");//N para aplicar las coma en los miles
	}
}

<h1>@ViewData["Title"]</h1>
<h5>Aqui se mirara el rango de salario segun el departamento. Ejemplos: Ventas, Finanzas, Desarrodador, etc.</h5>

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>

<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Rango Maximo</th>
			<th>Rango Minimo</th>
			<th>Acciones</th>

		</tr>
	</thead>

	<tbody>
		@foreach (var salario in Model.Salarios)
		{
			<tr>
				<td>@salario.DepartamentoNombre</td>
				<td>@FormatearNumero(salario.RangoMaximo)</td>
				<td>@FormatearNumero(salario.RangoMinimo)</td>
				<td>
					<input type="hidden" asp-for="@salario.Id" class="ids" />
					<a class="btn btn-primary" asp-action="Editar" asp-route-id="@salario.Id">Editar</a>
					<a asp-action="Borrar" asp-route-id="@salario.Id" class="btn btn-danger">Borrar</a>
				</td>
			</tr>
		}
	</tbody>
</table>