@model IEnumerable<Departamento>

@{
	ViewData["Title"] = "Listado Departamentos";
}

<h1>@ViewData["Title"]</h1>
<h5>Los departamentos se usaran para agurpos a los empleados por departamento. Ejemplos: Ventas, Finanzas, Desarrollador, etc.</h5>

<a asp-action="Crear" class="btn btn-primary">Crear Nuevo</a>

<table class="table">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Codigo</th>
			<th>Descripcion</th>
			<th>Acciones</th>
		</tr>
	</thead>

	<tbody>
		@foreach (var departamento in Model)
		{
			<tr>
				<td>@departamento.Nombre</td>
				<td>@departamento.Codigo</td>
				<td>@departamento.Descripcion</td>
				<td>
					<input type="hidden" asp-for="@departamento.Id" />
					<a asp-action="Editar" asp-route-id="@departamento.Id" class="btn btn-primary">Editar</a>
					<a asp-action="Borrar" asp-route-id="@departamento.Id" class="btn btn-danger">Borrar</a>
				</td>
			</tr>
		}
	</tbody>

</table>